@import "../../../sass-files/variables";

.mj-video-holder {
  height: 100vh;
  overflow: hidden;

  .mj-video {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
.mj-background-white{
  background-color: $mj-color-white-light;
}
