<header>
  <div class="hero">
    <video autoplay
           loop
           muted
           plays-inline
     class="mj-video">
      <source
        src="https://player.vimeo.com/external/260086922.hd.mp4?s=5d2d2bdf6309289406452bafbc8de842a917a7d7&profile_id=175"
        type="video/mp4">
    </video>
    <div class="hero-content">
      <h1 class="hero-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rutrum ut nulla id dictum. Cras vitae ex eget nunc ornare tempus.</h1>
    </div>
  </div>
</header>
