<header>
  <div class="mj-video-holder">
      <video autoplay
             loop
             muted
             plays-inline
             class="mj-video">
        <source src="https://player.vimeo.com/external/260086922.hd.mp4?s=5d2d2bdf6309289406452bafbc8de842a917a7d7&profile_id=175"
                type="video/mp4">
      </video>
  </div>
</header>
<section>
  <div class="independence&trust">
    <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rutrum ut nulla id dictum. Cras vitae ex eget nunc ornare tempus.</h1>
  </div>
</section>

<div class="mj-simple-style-cont mj-background-white">
  <div class="container">
    <h2>
      Independence & Trust
    </h2>
    <span>
      <p>We delight in our independence, which gives us the freedom to create whisky according to our principles and beliefs.</p>
      <p>
      As a Merchant & Independent Bottler, our trade is in other parties’ production efforts, which means we must have unwavering trust in our process.</p>
      <p>
      To bottle a whisky under the Alexander Murray name is a very serious promise of quality.</p>
      <p>
      You will find these principles in every bottle.</p>
    </span>
  </div>
</div>
