<header>
  <div class="mj-video-holder">
    <video autoplay
           loop
           muted
           plays-inline
           class="mj-video">
      <source
        src="https://player.vimeo.com/external/260086922.hd.mp4?s=5d2d2bdf6309289406452bafbc8de842a917a7d7&profile_id=175"
        type="video/mp4">
    </video>
    <div class="mj-video-overlay-dialog">
      <h1 class="mj-dialog-title">Majorelle & Company</h1>
      <h3 class="mj-dialog-subtitle">Lorem ipsum dolornsectet sadas </h3>
      <p class="mj-dialog-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rutrum ut nulla id dictum.
        Cras vitae ex eget nunc
        ornare tempus.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed rutrum ut nulla id dictum. Cras vitae ex eget nunc
        ornare tempus.
      </p>
      <a class="mj-dialog-btn">
        <span class="fa fa-play-circle-o"></span>
        <span class="mj-dialog-btn-text">Lorem ipsum</span>
      </a>
    </div>
    <div class="mj-overlay-logo"></div>
    <div class="mj-arrow-btn-holder">
      <mat-icon [ngx-scroll-to]="'white_cont'">keyboard_arrow_down</mat-icon>
    </div>
  </div>
</header>
<section class="mj-section" #whiteContainer>
  <div class="mj-section-holder"
       [@scrollAnimation]="state"
       id="white_cont">
    <div class="container">
      <div fxLayout="row"
           fxLayoutAlign="space-between stretch"
           fxLayout.xs="column">
        <div fxFlex="50"
             class="mj-section-div">
          <img src="assets/img/projektovanje.jpg"
               alt="">
        </div>
        <div fxFlex="50"
             class="mj-section-div">
          <h3 class="mj-section-title">Projektovanje</h3>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vestibulum non mauris at
          sollicitudin. Donec commodo arcu posuere, ultrices risus vitae, dignissim felis. Sed sollicitudin vestibulum
          efficitur. Etiam sed purus sit amet turpis mollis tempor. Nullam pulvinar leo at turpis volutpat rutrum.
        </div>
      </div>
    </div>
  </div>
</section>
<section class="mj-section mj-grid-layout">
  <div class="mj-section-holder"
       fxLayout="row"
       fxLayoutAlign="stretch"
       fxLayout.xs="column">
    <div fxFlex="50"
         class="mj-section-div mj-red-kitchen mj-on-hover"
         fxLayout="row">
      <div class="mj-section-header">
        kuhinje bla bla..
      </div>
      <div class="mj-section-footer">
        <div fxLayout="row"
             fxLayoutAlign="space-between center"
             class="mj-section-footer-padding">
          <span>kuhinje bla bla..</span>
          <mat-icon
            routerLink="/kitchens"
            class="mj-section-footer-arrow">
            arrow_forward
          </mat-icon>
        </div>
      </div>
    </div>
    <div fxFlex="50"
         class="mj-section-div">
      <div fxLayout="column"
           fxLayoutAlign="stretch">
        <div fxFlex="50"
             class="mj-section-div mj-red-kitchen mj-on-hover"
             fxLayout="row">
          <div class="mj-section-footer"
               fxFlexAlign="end">
            <div fxLayout="row"
                 fxLayoutAlign="space-between center"
                 class="mj-section-footer-padding">
              <span>some text</span>
              <mat-icon
                class="mj-section-footer-arrow">
                arrow_forward
              </mat-icon>
            </div>
          </div>
        </div>
        <div fxFlex="50"
             class="mj-section-div mj-red-kitchen mj-on-hover"
             fxLayout="row">
          <div class="mj-section-footer"
               fxFlexAlign="end">
            <div fxLayout="row"
                 fxLayoutAlign="space-between center"
                 class="mj-section-footer-padding">
              <span>some text</span>
              <mat-icon
                class="mj-section-footer-arrow">
                arrow_forward
              </mat-icon>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
