<section class="footer"
         fxLayout="column"
         fxLayoutAlign="space-around center">
  <div fxLayout="row"
       fxLayoutAlign="space-around center">
    <div>FOLLOW
      <div>
        <a>
          <span class="fa fa-facebook"></span>
        </a>
        <a>
          <span class="fa fa-instagram"></span>
        </a>
        <a>
          <span class="fa fa-youtube"></span>
        </a>
      </div>
    </div>
    <div>LOCATION
      <div>Alexander Murray & Co.
        Scotch Whisky Merchants & Exporters
      </div>
      <div>23237 Blue Bird Drive
        Calabasas, CA 91302
      </div>
    </div>
    <div>CONTACT
      <div>
        747.888.3835
        info@alexandermurray.com
      </div>
    </div>
  </div>
  <div fxLayout="row"
       fxLayoutAlign="space-between center" >
    <div>© Copyright of Alexander Murray & Co 2019 Design & Development Form Digital</div>
    <div class="mj-arrow-up">
      <mat-icon  mat-button
                 [ngx-scroll-to]="'test'">
        keyboard_arrow_up
      </mat-icon>
    </div>
  </div>
</section>
