@font-face {
  font-family: lato;
  src: url(../assets/fonts/Lato-Regular.ttf) format("opentype");
}

@font-face {
  font-family: butlerStencil;
  src: url(../assets/fonts/Butler_Regular_Stencil.otf) format("opentype");
}

@font-face {
  font-family: abel;
  src: url(../assets/fonts/Abel-Regular.ttf) format("opentype");
}

$base-color: #211f1e !default;
$secondary-color: #292725 !default;

$mj-gold-color: #bb9a6a !default;

$mj-color-white-light: rgba(#fff, .8);
$mj-color-white-lighter: rgba(#fff, .6);


$mj-spacing: .8rem !default;
$mj-spacing-small: .4rem !default;
$mj-spacing-large: 1.6rem !default;


$default-font-family: 'lato' , sans-serif;
$side-menu-font-family: 'abel' , sans-serif;
$fancy-font-family: 'butlerStencil' , sans-serif;


// break points
$mj-breakpoint-sm: 576px !default;
$mj-breakpoint-md: 768px !default;
$mj-breakpoint-lg: 992px !default;
$mj-breakpoint-xl: 1200px !default;
$mj-breakpoint-xxl: 1440px !default;

