@import "~@angular/material/prebuilt-themes/indigo-pink.css"; // todo remove this theme import after applyinig scss

@import "reset";
@import "variables";
@import "mixins";

/// Importing all fonts
@include add-fonts($font-family,
                   $font-family-light,
                   $font-family-bold,
                   $side-menu-font-family) {
  @font-face {
    font-family: $fancy-font-family;
    font-weight: normal;
    src: url('#{$font-url}#{$fancy-font-family}' + '.otf');
  }
  @font-face {
    font-family: $fancy-font-family-light;
    font-weight: normal;
    src: url('#{$font-url}#{$fancy-font-family-light}' + '.otf');
  }
  @font-face {
    font-family: $fancy-font-family-bold;
    font-weight: normal;
    src: url('#{$font-url}#{$fancy-font-family-light}' + '.otf');
  }
};

/// Global styles
html {
  font-size: 62.5%;
}

body {
  font-size: 16px;
}
.mj-simple-style-cont{
  width: 100%;
  padding: 3.4rem 0;
  position: relative;
  overflow: hidden;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media only screen and  (min-width: $mj-breakpoint-xl){
  .container {
    max-width: 1140px;
  }
}
@media only screen and (min-width: $mj-breakpoint-lg){
  .container {
    max-width: 960px;
  }
}
@media only screen and (min-width: $mj-breakpoint-md){
  .container {
    max-width: 720px;
  }
}
@media only screen and (min-width: $mj-breakpoint-sm){
  .container {
    max-width: 540px;
  }
}

a {
  text-decoration: none;
  color: $mj-color-white-light;
}


