@import "~@angular/material/prebuilt-themes/indigo-pink.css"; // todo remove this theme import after applyinig scss

@import "font-awesome";

body {
  margin: 0;
}

main{
  height: 100%;
}

.navigation_menu_left{
  background-color: #211f1e;
}
.navigation_menu_right {
  background-color: #292725;
  .sidenav-img-container{
    height: 100%;
  }
  img {
    width: 40vw;
    height: auto;
    max-width: 40vw;
  }
}
