@import "../../variables";


a {
  text-decoration: none;
  color: $mj-color-white-light;
}

mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
  height: 100vh;
  overflow-x: hidden;
}

mat-sidenav {
  width: 50vw;
}

.mat-toolbar {
  position: fixed;
  background-color: transparent;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%  !important;
}

.navigation-items {
  list-style: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.navigation_menu_left {
  background-color: $base-color;

  a {
    padding: 0 !important;

    .label {
      color: $mj-color-white-light;
      font-family: $side-menu-font-family;
      font-size: 24px;
      letter-spacing: $mj-spacing-small;
      text-transform: uppercase;
      transition: all 600ms ease-in-out 0s;

      &:hover {
        color: $mj-secondary-color;
      }
    }
  }
}

.navigation_menu_right {
  background-color: $base-light-color;

  .sidenav-img-container{
    height: 100%;
  }

  .sidenav-img-overlay {
    display:block;
    position:relative;
  }

  .sidenav-img-overlay:before {
    display:block;
    content:'';
    position:absolute;
    width:100%;
    height:100%;
    -moz-box-shadow:inset 0 0 3rem 3rem $base-light-color;
    -webkit-box-shadow:inset 0 0 3rem 3rem $base-light-color;
    box-shadow:inset 0 0 3rem 3rem $base-light-color;
  }

  img {
    width: 40vw;
    height: auto;
    max-width: 40vw;
  }
}

.is-active .label {
  color: $mj-secondary-color !important;
}
