<mat-sidenav-container [hasBackdrop]="false">
  <mat-sidenav #leftSideDrawer role="navigation">
    <mat-nav-list>
      <div mat-list-item>
        <button mat-icon-button (click)="toggleSideMenues()">
          <mat-icon>clear</mat-icon>
          CLOSE
        </button>
      </div>
      <div mat-list-item>
        Menu
      </div>
      <a mat-list-item
         routerLink="/home"
         routerLinkActive="is-active"
         [routerLinkActiveOptions]="{exact:true}"
         (click)="toggleSideMenues()"
         (mouseover)="onNavigationHover('livingroom')">
        <span class="label">Home</span>
      </a>
      <a mat-list-item
         routerLink="/kitchens"
         routerLinkActive="is-active"
         (click)="toggleSideMenues()"
         (mouseover)="onNavigationHover('kitchens')">
        <span class="label">Kitchens</span>
      </a>
      <a mat-list-item
         routerLink="/bathrooms"
         routerLinkActive="is-active"
         (click)="toggleSideMenues()"
         (mouseover)="onNavigationHover('bathrooms')">
        <span class="label">Bathrooms</span>
      </a>
      <a mat-list-item
         routerLink="/bedrooms"
         routerLinkActive="is-active"
         (click)="toggleSideMenues()"
         (mouseover)="onNavigationHover('bedrooms')">
        <span class="label">Bedrooms</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav position="end"
               #rightSideDrawer>
    <img mat-card-image src='assets/img/{{rightSideDrawerImgSrc}}.jpg'>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <div fxHide.gt-xs>
          <i class="fa fa-bars"
             (click)="toggleSideMenues()"></i> MENU
      </div>
      <div fxFlex
           fxLayout
           fxLayoutAlign="center"
           fxHide.xs
           fxFlex="80">
        <span routerLink="/"
              class="navigation-logo-text">
          Majorelle & company
        </span>
      </div>
      <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs fxLayoutGap="5px">
        <a>
          <span class="fa fa-facebook"></span>
        </a>
        <a>
          <span class="fa fa-instagram"></span>
        </a>
        <a>
          <span class="fa fa-youtube"></span>
        </a>
      </div>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>

    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
