<mat-sidenav-container [hasBackdrop]="false">
  <mat-sidenav #leftSideDrawer
               role="navigation"
               class="navigation_menu_left">
    <mat-nav-list>
      <div mat-list-item>
        <a (click)="toggleSideMenues()">
          <mat-icon class="app-toolbar-icon">close</mat-icon>
        </a>
      </div>
      <div mat-list-item
           class="mj-side-nav-title">
        Menu
      </div>
      <a mat-list-item
         routerLink="/home"
         routerLinkActive="is-active"
         [routerLinkActiveOptions]="{exact:true}"
         (click)="toggleSideMenues()"
         (mouseover)="onNavigationHover('livingroom')">
        <span class="label">Home</span>
      </a>
      <a mat-list-item
         routerLink="/kitchens"
         routerLinkActive="is-active"
         (click)="toggleSideMenues()"
         (mouseover)="onNavigationHover('kitchens')">
        <span class="label">Kitchens</span>
      </a>
      <a mat-list-item
         routerLink="/bathrooms"
         routerLinkActive="is-active"
         (click)="toggleSideMenues()"
         (mouseover)="onNavigationHover('bathrooms')">
        <span class="label">Bathrooms</span>
      </a>
      <a mat-list-item
         routerLink="/bedrooms"
         routerLinkActive="is-active"
         (click)="toggleSideMenues()"
         (mouseover)="onNavigationHover('bedrooms')">
        <span class="label">Bedrooms</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav position="end"
               class="navigation_menu_right"
               #rightSideDrawer>
    <div fxLayout="column"
         fxLayoutAlign="center center"
         class="sidenav-img-container">
      <div class="sidenav-img-overlay">
        <img mat-card-image src='assets/img/{{rightSideDrawerImgSrc}}.jpg'></div>
    </div>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="mj-header-toolbar">
      <div class="mj-ham-btn">
        <a (click)="toggleSideMenues()">
          <mat-icon class="mj-ham-btn-icon">menu</mat-icon>
          <span class="mj-ham-btn-text">Menu</span>
        </a>
      </div>
      <div class="mj-logo-text">
        <span routerLink="/">
          Majorelle & company
        </span>
      </div>
      <div class="mj-social-btn-holder">
        <a>
          <span class="fa fa-facebook"></span>
        </a>
        <a>
          <span class="fa fa-instagram"></span>
        </a>
        <a>
          <span class="fa fa-youtube"></span>
        </a>
      </div>
    </mat-toolbar>
    <main id="main_cont">
      <router-outlet></router-outlet>
    </main>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
