@import "../sass-files/variables";
@import "../sass-files/components/side-bar/side-bar";


.app-toolbar-icon {
  font-size: 40px;
  cursor: pointer;
}

.app-toolbar-social-icons {
  span {
    cursor: pointer;
  }
}

.navigation-logo-text{
  color: $mj-secondary-color;
  font-family: $fancy-font-family;
  font-size: xx-large;
}
