<app-header [data]="headerConfig"></app-header>

<section class="mj-section">
  <div class="mj-section-holder"
       id="white_cont">
    <div class="container">
      <div
        class="mj-section-div">
        <h3 class="mj-section-title">Projektovanje</h3>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vestibulum non mauris at
        sollicitudin. Donec commodo arcu posuere, ultrices risus vitae, dignissim felis. Sed sollicitudin vestibulum
        efficitur. Etiam sed purus sit amet turpis mollis tempor. Nullam pulvinar leo at turpis volutpat rutrum.
      </div>
    </div>
  </div>
</section>
