header {
  height: 100%;
}

video {
  width: 100%;
}

.hero {
  position: relative;
  height: 100vh;
  text-align: center;

  .hero-content {
    position: absolute;
    top: 40vh;
    width: 100%;

    .hero-text {
      width: 560px;
      margin: 24px auto 40px auto;
      font-weight: 400;
      color: white;
    }
  }
}
